# custom
cloud-enum-output

# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/
.hypothesis/

# uv
.venv/
uv.lock

# vim swap files
*.swp

# vscode
.vscode/
